.rightbar {
    height: 90vh;
    width: 27vw;
    background-color:#ededed;
    transition: all ease 0.2s;
    z-index: 100;
   
  }
  
  @media (max-width: 768px) {
    .rightbar {
      width: 100vw;
      position: absolute;
      left: 0;
    }
  }